### Vagrant
.vagrant/

### Python
*.py[cod]
*.db
openid-store/

### Other
app/static/uploads/avatar
!app/static/uploads/avatar/avatar.jpg
!app/static/uploads/avatar/original-avatar.jpg

# oauth keys
app/oauth/*.json