{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block bodyID %}page-profile{% endblock %}
{% block body %}
<section class="profile">
    <div class="container">
        <div class="row"><div class="col-xs-12 alert-box"></div></div>
        <div class="row row-table-md">
            <div class="col-xs-12 col-md-4">
                <div class="avatar"></div>
                <div class="more-info">
                    <div class="profile-name">Luiz Arantes Sa</div>
                    <div class="settings"><a href="#">Settings</a></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 general-info-container">
                <table id="profile-table" class="table table-hover profile-table">
                    <thead><tr>
                            <th class="title">General Info</th>
                            <th class="text-right"><a href="#" class="btn btn-xs btn-warning" data-toggle="modal" data-action="editProfile" data-target="#main-modal">Edit</a>
                            </th>
                    </tr></thead>
                    <tbody>
                        <tr><th>Username</th>
                            <td class="username"></td></tr>

                        <tr><th>Email</th>
                        <td class="email"></td></tr>

                        <tr><th>First Name</th>
                            <td class="first_name"></td></tr>

                        <tr><th>Last Name</th>
                            <td class="last_name"></td></tr>

                        <tr><th>Date Joined</th>
                            <td class="date_joined"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>

<section class="published-tutorials">
    <div class="container">
        <div class="row row-table-sm">
            <div class="col-xs-12 col-sm-8">
                <h1 class="main-title">Published Tutorials</h1>
            </div>
            <div class="col-xs-12 col-sm-4 add-btn-container">
                <a href="#" id="btn-add-new" data-toggle="modal" data-action="addTutorial" data-target="#main-modal" class="btn btn-primary">
                    Add New <span class="glyphicon glyphicon-plus-sign"></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 table-container">
                <table id="tutorial-table" class="table table-hover published-tutorials-table">
                    <thead><tr><th>Title</th><th>Category</th><th>Date Created</th><th>Action</th></tr></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<div id="main-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-submit">Submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endblock %}

{% block bodyPostfix %}
<!-- Templates
========================================================  -->
<script  id="alert-template" type="text/html">
    <div class="alert-messages">
        <div class="alert">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
        </div>
    </div>
</script>

<script id="tutorial-row-template" type="text/html">
    <tr>
        <td class="title"></td>
        <td class="category"></td>
        <td class="date"></td>
        <td class="action">
            <a href="#" class="btn btn-sm btn-warning" data-toggle="modal" data-action="editTutorial" data-target="#main-modal">Edit</a>
            <a href="#" class="btn btn-sm btn-danger" data-toggle="modal" data-action="deleteTutorial" data-target="#main-modal">Delete</a>
        </td>
    </tr>
</script>
<script id="profile-row-template" type="text/html">
    <tr>
        <th></th>
        <td class="label"></td>
    </tr>
</script>

<script id="forms-template" type="text/html">
    <form id="form-tutorial" method="post">
    {{ forms.addArticle.hidden_tag() }}
    {% for field in forms.addArticle if field.widget.input_type != 'hidden' -%}
        {%- if field.name == 'body' -%}
            {{ render_field(field, cols=30, rows=4) }}
        {%- else -%}
            {{ render_field(field) }}
        {% endif %}
    {%- endfor %}
    </form>

    <form id="form-delete" style="display: none !important;" action="{{ url_for('user.delete_article') }}" method="post">
    {{ forms.deleteArticle.hidden_tag() }}
    {% for field in forms.deleteArticle if field.widget.input_type != 'hidden' %}
        {{ render_field(field) }}
    {% endfor %}
    </form>

    <form id="form-profile" action="{{ url_for('user.edit_profile') }}" method="post">
    {{ forms.editProfile.hidden_tag() }}
    {% for field in forms.editProfile if field.widget.input_type != 'hidden' %}
            {{ render_field(field) }}
    {% endfor %}
    </form>
</script>
<!-- END templates ========================================================  -->

<script>
    +function ($) {

        var tutorials = {{ current_user.articles|custom_json(serializers['article'])|safe }};
        var userInfo = {{ current_user|custom_json(serializers['userInfo'])|safe }};
        console.log(userInfo);

        // All templates
        // * make sure templates returns a new instance
        function cloneWrapper(original) {
            return function() {
                return this.clone();
            }.bind($(original));
        }

        var tempForms = $($('#forms-template').html());

        var templates = {
            tutorialForm: cloneWrapper(tempForms.filter('#form-tutorial')),
            profileForm: cloneWrapper(tempForms.filter('#form-profile')),
            deleteForm: cloneWrapper(tempForms.filter('#form-delete')),
            tutorialRow: cloneWrapper($('#tutorial-row-template').html()),
            profileRow: cloneWrapper($('#profile-row-template').html()),
            alert: cloneWrapper($('#alert-template').html())
        };
        tempForms = null;

        function getFlashedMessages(messages) {
            var msgBuffer = [];
            messages.forEach(function(m) {
                msgBuffer.push(createAlert(m.message, m.category));
            });
            return msgBuffer;
        }
        function createAlert(message, category) {
            var $template = templates.alert();
                $template.addClass(['alert-', category].join(''));
                $template.find('.alert').append(message);
                return $template;
        }

        /**
         *
         * @param $form
         * @param formErrors - [ {formLabelID: arrayOfErrorMessages}, ... ]
         */
        function setFormErrors($form, formErrors) {
            // clear any previous errors before setting the form
            $form.find('.form-group').removeClass('has-error');
            $form.find('.help-block').remove();

            for (var labelID in formErrors){
               formErrors[labelID].forEach(function(errorMessage) {
                 this.parent().addClass('has-error');
                 this.after($('<p></p>').addClass('help-block').html(errorMessage));

               }.bind($form.find(['#', labelID].join(''))));
            }
        }

        function tutorialAddRow(tableSelector, createTemplate, data) {
                var $template,
                templateBuffer = [],
                $table = $(tableSelector),
                dataArray = (data instanceof Array) ? data : [data],
                length = dataArray.length;

                for (var i = 0; i < length; i++) {
                    var item = dataArray[i];
                    $template = createTemplate();
                    $template.attr('id', ['tutorial-', item.id].join(''));
                    $template.find('.title').html(item.title);
                    $template.find('.category').html(item.category.name);
                    $template.find('.date').html(item.date_created);
                    $template.find('.action a').data('item', item);
                    templateBuffer.push($template)
                }
                // add rows to DOM
                $table.find('tbody').append(templateBuffer);
        }

        function profileAddRow(tableSelector, data) {
                var $table = $(tableSelector);
                for (var key in data) {
                    $table.find('.'+key).html(data[key] || 'Not available');
                }
        }

        //---- Modal setup
        var $mainModal = $('#main-modal');

        // ensure old content gets deleted after modal closes
        $mainModal.on('hidden.bs.modal', function () {
            ['.modal-title', '.modal-body'].forEach(function (selector) {
                $($mainModal).find(selector).html('');
            });
            // remove action button css
            $mainModal.find('.btn-submit').removeClass('btn-primary btn-danger btn-warning')
        });

        // Initialize modalBuilder methods
        var modalBuilder = {
            addTutorial: function ($modal) {
                var $form = templates.tutorialForm();
                // set form url
                $form.attr('action', '{{ url_for('user.add_article') }}');

                // Update modal title
                $modal.find('.modal-title').append('Add Tutorial');
                $modal.find('.modal-body').append($form);

                // update action button css
                var $actionBtn = $modal.find('.btn-submit');
                $actionBtn.addClass('btn-primary').html('Add Tutorial');
            },
            editTutorial: function ($modal) {
                var $form = templates.tutorialForm(),
                    item = $modal.data('item');
                // set form url
                $form.attr('action', '{{ url_for('user.edit_article') }}');

                // Update modal title
                $modal.find('.modal-title').append('Edit Tutorial');

                // populate form fields
                $.each(item, function(key, value) {

                    // category returns and object {id:value, name:value}
                    if (key == 'category') {
                        value = value.id;
                    }

                    $form.find(['#', key].join('')).val(value);
                });

                // add input field with the item's id attached
                $form.prepend($('<input/>').attr({type:'hidden', name:'id', value: item.id}));

                // append hidden form to body
                $modal.find('.modal-body').append($form);

                // update action button css
                var $actionBtn = $modal.find('.btn-submit');
                $actionBtn.addClass('btn-primary').html('Save Tutorial');
            },
            deleteTutorial: function($modal) {
                var item = $modal.data('item'),
                    title = item.title,
                    $form = templates.deleteForm();
                $form.attr('action', '{{ url_for('user.delete_article') }}');

                // add item id to form
                $form.find('#id').val(item.id);

                // create title
                $modal.find('.modal-title')
                    .append('<span class="text-danger">Warning!!!</span>');

                var $modalBody = $modal.find('.modal-body');
                // append hidden form and the dialog message to the modal's body
                $modalBody.append($form)
                          .append(['<p>Are you sure you want to delete <strong class="text-danger">', title,
                                  '</strong> permanently?</p>'].join(''));
                // update action button css
                var $actionBtn = $modal.find('.btn-submit');
                $actionBtn.addClass('btn-danger').html('Delete Tutorial');
            },
            editProfile: function($modal) {

            }
        };

        // Dynamically create the modal's content before its shown
        $mainModal.on('show.bs.modal', function (e) {
            var data = $(e.relatedTarget).data();
            $mainModal.data(data);
            modalBuilder[data.action]($mainModal);
        });

        // AJAX action handler
        var responseHandler = {
            addTutorial: function ($modal, data) {
                var errors = data['flashed_messages'];
                if (data.success) {
                    addRows('tutorial-table', templates.tutorialRow, data.article);
                    errors.forEach(function(error) {
                        $('#tutorial-table').before(createAlert(error.message, error.category));
                    });
                } else {
                    // Find out the type of error
                    errors.forEach(function(error) {
                        if (error.category == 'form-error') {
                           // populate the form with the given errors
                           setFormErrors($modal.find('form'), error.message);
                        } else {
                            // append alerts messages on top of the form
                            $modal.find('form').before(createAlert(error.message, error.category))
                        }
                    });
                }
            },
            editTutorial: function($modal, data) {
                var errors, item, $row;

                if (data.success) {
                    item = data.article;
                    // get item row and update its content
                    $row = $('#tutorial-' + item.id);
                    $row.find('.category').html(item.category.name);
                    $row.find('.title').html(item.title);
                    $row.find('a').data('item', item);
                }
                getFlashedMessages(data['flashed_messages'])
                    .forEach(function($message){$message.insertBefore('#tutorial-table')});
            },

            deleteTutorial: function($modal, data) {
                var item;
                if (data.success) {
                    // delete item from table row
                    item = $modal.data('item');
                    $('#tutorial-'+item.id).remove(); // remove item from table
                } else {
                    $modal.modal('hide');
                }
                getFlashedMessages(data['flashed_messages'])
                    .forEach(function(e) { e.insertBefore('#tutorial-table'); });
            }
        };
        // create AJAX request when user clicks the modal's action button
        $mainModal.find('.btn-submit')
        .on('click', function(e) {
            var action = $mainModal.data('action'),
                $form = $mainModal.find('form');
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                dataType: 'json',
                data: $form.serialize(),
                success: function(data) {
                    $('.alert-messages').remove();
                    responseHandler[action]($mainModal, data);
                    $mainModal.modal('hide');
                },
                error: function(data) {
                    $('.alert-messages').remove(); // remove any previous alerts
                    if (data.responseJSON) { // server sent a json object with additional error messages
                        responseHandler[action]($mainModal, data.responseJSON);
                    } else {
                        var message;
                        // create error message
                        if (data.status == 400) {
                            var $response = $(data.responseText);
                            console.log($response);
                            message = [
                                '<strong>',
                                $response.filter('h1').html(),
                                '</strong>: ',
                                $response.filter('p').html()
                            ].join('');
                        } else {
                            message = 'Unknown Server Error.';
                        }
                        $mainModal.modal('hide');
                        // add alert message to top of page
                        $('.alert-box').html(createAlert(message, 'danger'));
                        $('body').scrollTop(0); // scroll to top of window
                    }

                 }
            });
        });

        tutorialAddRow('#tutorial-table', templates.tutorialRow, tutorials);
        profileAddRow('#profile-table', userInfo);



    }(jQuery)
</script>
{% endblock %}