{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block bodyID %}page-profile{% endblock %}
{% block body %}
<section class="profile">
    <div class="container">
        <div class="row row-table-md">
            <div class="col-xs-12 col-md-4">
                <div class="avatar"></div>
                <div class="more-info">
                    <div class="profile-name">Luiz Arantes Sa</div>
                    <div class="settings"><a href="#">Settings</a></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 general-info-container">
                <table class="table table-hover profile-table">
                    <thead><tr>
                            <th class="title">General Info</th>
                            <th class="text-right"><a href="#" class="btn btn-xs btn-warning" data-toggle="modal" data-action="editProfile" data-target="#main-modal">Edit</a>
                            </th>
                    </tr></thead>
                    <tbody>
                        <tr><th>Username</th>
                            <td class="username">{{ current_user.username|e }}</td></tr>

                        <tr><th>Email</th>
                        <td class="email">{{ current_user.email|e }}</td></tr>

                        <tr><th>First Name</th>
                            <td class="first-name">{{ current_user.first_name|e }}</td></tr>

                        <tr><th>Last Name</th>
                            <td class="last-name">{{ current_user.last_name|e }}</td></tr>

                        <tr><th>Date Joined</th>
                            <td class="date-joined">{{ current_user.date_joined|datetime }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>

<section class="published-tutorials">
    <div class="container">
        <div class="row row-table-sm">
            <div class="col-xs-12 col-sm-8">
                <h1 class="main-title">Published Tutorials</h1>
            </div>
            <div class="col-xs-12 col-sm-4 add-btn-container">
                <a href="#" id="btn-add-new" data-toggle="modal" data-action="addTutorial" data-target="#main-modal" class="btn btn-primary">
                    Add New <span class="glyphicon glyphicon-plus-sign"></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 table-container">
                <table id="tutorial-table" class="table table-hover published-tutorials-table">
                    <thead><tr><th>Title</th><th>Category</th><th>Date Created</th><th>Action</th></tr></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<div id="main-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-submit">Submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
{% endblock %}

{% block bodyPostfix %}
<!-- Templates
========================================================  -->
<script  id="alert-template" type="text/html">
    <div class="alert-messages">
        <div class="alert">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <ul><li><strong></strong>: <span></span></li></ul>
        </div>
    </div>
</script>

<script id="tutorial-row-template" type="text/html">
    <tr>
        <td class="title"></td>
        <td class="category"></td>
        <td class="date"></td>
        <td class="action">
            <a href="#" class="btn btn-sm btn-warning" data-toggle="modal" data-action="editTutorial" data-target="#main-modal">Edit</a>
            <a href="#" class="btn btn-sm btn-danger" data-toggle="modal" data-action="deleteTutorial" data-target="#main-modal">Delete</a>
        </td>
    </tr>
</script>

<script id="forms-template" type="text/html">
    <form id="form-tutorial" action="{{ url_for('user.add_article') }}" method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' -%}
        {%- if field.name == 'body' -%}
            {{ render_field(field, cols=30, rows=4) }}
        {%- else -%}
            {{ render_field(field) }}
        {% endif %}
    {%- endfor %}
    </form>

    <form id="form-profile" action="{{ url_for('user.add_article') }}" method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
        {% if field.name == 'body' %}
            {{ render_field(field, cols=30, rows=4) }}
        {% else %}
            {{ render_field(field) }}
        {% endif %}
    {% endfor %}
    </form>
</script>
<!-- END templates ========================================================  -->

<script>
    +function ($) {

        var tutorials = {{ current_user.articles|articles_to_json|safe }};

        // All templates
        // * make sure templates returns a new instance
        function cloneWrapper(original) {
            return function() {
                return this.clone();
            }.bind($(original));
        }
        var tempForms = $($('#forms-template').html());

        var templates = {
            tutorialForm: cloneWrapper(tempForms.filter('#form-tutorial')),
            profileForm: cloneWrapper(tempForms.filter('#form-profile')),
            tutorialRow: cloneWrapper($('#tutorial-row-template').html()),
            profileRow: cloneWrapper($('#profile-row-template').html()),
            alert: cloneWrapper($('#alert-template').html())
        };
        tempForms = null;

        function createAlert(messages, type){
            var $alert = templates.alert(),
                $li = $alert.find('li'),
                liBuffer = [];

            for (var key in messages) {
                var $temp = $li.clone();
                $temp.find('strong').html(key);
                $temp.find('span').html(errors[key]);
                liBuffer.push($temp);
            }

            $alert.find('ul').html(liBuffer);
            $alert.addClass(type);
            return $alert;
        }
        function addRows(tableID, createTemplate, data) {
            var $template,
                    templateBuffer = [],
                    $table = $(['#', tableID].join('')),
                    dataArray = (data instanceof Array) ? data : [data],
                    length = dataArray.length;
            console.log(data);
            if (tableID == 'tutorial-table') {
                // Create all rows in memory
                for (var i = 0; i < length; i++) {
                    $template = createTemplate();
                    $template.find('.title').html(dataArray[i].title);
                    $template.find('.category').html(dataArray[i].category.name);
                    $template.find('.date').html(dataArray[i].date_created);
                    templateBuffer.push($template)
                }
                // add rows to DOM
                $table.find('tbody').append(templateBuffer);
            } else if (tableID == 'profile-table') {

            } else {
                throw Error('Unknown tableID');
            }

        }

        addRows('tutorial-table', templates.tutorialRow, tutorials);

        // AJAX on success handlers
        var responseHandler = {
            addTutorial: function (data) {
                addRows('tutorial-table', templates.tutorialRow, data);
            }
        };

        // Build the modal dynamically
        var modalBuilder = {
            addTutorial: function ($modal) {
                var $form = templates.tutorialForm(),
                    $actionBtn;
                $modal.find('.modal-title').append('Add Tutorial');
                $modal.find('.modal-body').append($form);

                $actionBtn = $modal.find('.modal-footer').find('.btn-submit');
                $actionBtn.removeClass('btn-danger')
                          .addClass('btn-primary')
                          .html('Add Tutorial');
            }
        };

        //---- Modal setup
        var $mainModal = $('#main-modal');
        // ensure old content gets deleted after modal closes
        $mainModal.on('hidden.bs.modal', function () {
            ['.modal-title', '.modal-body'].forEach(function (selector) {
                $($mainModal).find(selector).html('');
            });
        });

        // Create modal before its shown
        $mainModal.on('show.bs.modal', function (e) {
            var action = $(e.relatedTarget).data('action');
            modalBuilder[action]($mainModal);
            $mainModal.find('.btn-submit')
                      .data('action', action)
        });

        $mainModal.find('.btn-submit')
        .on('click', function(e) {
            var action = $(this).data('action'),
                $form = $mainModal.find('form');
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: $form.serialize(),
                success: function(data) {
                    responseHandler[action](data.article);
                },
                error: function(data) {
                    $('.alert').remove();
                    var errors = (data.responseJSON) ? data.responseJSON.error : {error: data.statusText};
                    $mainModal.find('.modal-body')
                              .prepend(createAlert(errors, 'alert-danger'));
                 }
            });
        });



    }(jQuery)
</script>
{% endblock %}