{% macro render_checkbox_field(field) -%}
    <div class="checkbox">
        <label>{{ field(type='checkbox', **kwargs) }} {{ field.label }}</label>
    </div>
{%- endmacro %}

{% macro render_radio_field(field) -%}
    {% for value, label, _ in field.iter_choices() %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
            </label>
        </div>
    {% endfor %}
{%- endmacro %}

{% macro render_field(field, attributes=None) -%}
    {% set attributes = attributes|default({}, true) %}
    <div class="form-group">
        {% if field.widget.input_type != 'hidden' %}
            {{ field.label(class_='control-label') }}
        {% endif %}
        {{ field(class_='form-control', **attributes) }}
    </div>
{%- endmacro -%}

{%- macro render_input_group(field, attributes=None) -%}
    {% set attributes = attributes|default({}, true) %}
    {# set size options: lg sm or leave blank for medium which has no css class #}
    {% set size = attributes.pop('_size', '') %}
    {% if size != '' -%} {% set size = 'input-group-' + size  -%} {% endif -%}

    <div class="form-group">
    {%- if field.widget.input_type == 'hidden' -%}
        {{ field(**attributes) }}
    {% else -%}
        <label class="control-label sr-only">{{ field.label.text }}</label>
        <div class="input-group {{ size }}">
          <span class="input-group-addon">{{ attributes.pop('placeholder', field.label.text) }}</span>
          {{ field(class_='form-control', **attributes) }}
        </div>
    {% endif -%}
    </div>
{% endmacro -%}

{%- macro render_form(form, options, default_databind=true) -%}

    {# Get which type of bootstrap field to render #}
    {% set render = render_input_group if options.get('_fieldType', '') == 'input-group' else render_field %}

    <form enctype="{{ options.get('_enctype', 'application/x-www-form-urlencoded') }}" method="{{ options.get('_method', 'POST') }}" action="{{ options.get('_action', '') }}">
        {%- for field in form -%}
        {# Ignore csrf token fields since we will provide it on ajax requests #}
        {% if field.type != 'CSRFTokenField' -%}
                {% set fieldOptions = options.get(field.id, {}) %}
                {% if not fieldOptions.has_key('data-bind') and default_databind %}
                    {{ fieldOptions.update({'data-bind': 'value: form' + field.id[0:1:].capitalize() + field.id[1::]} )|default('', true) }}
                {% endif %}
                {{ render(field, fieldOptions) }}
        {% endif -%}

        {%- endfor %}
    </form>
{%- endmacro -%}