{% from 'macros/form-components.html' import render_form %}

{# Comment Template #}
<script id="template-media" type="template-custom">
    <li data-bind="attr: getContainerAttributes()">
        <a class="media-left" href="#">
            <div class="avatar-container">
                <img class="avatar-thumbnail" data-bind="attr: { src: userAvatar() }" src="">
            </div>
            <div class="username" data-bind="text: username"></div>
        </a>
        <div class="media-body">
            <div data-bind="storeElement: fadeVisible !isEditing()" class="comment-info">
                <!-- ko if: isComment -->
                    <h4 class="media-heading" data-bind="text: subject"></h4>
                <!-- /ko -->
                <!-- ko ifnot: isComment -->
                    <a class="reply-to" data-bind="text: '@' + recipientUsername" href="#"></a>
                <!-- /ko -->
                <span data-bind="attr: { 'data-time': dateCreated }" class="comment-date"></span>
            </div>
            <div class="content" data-bind="text: message, storeElement: fadeVisible !isEditing()"></div>
            <div data-bind="storeElement: fadeVisible isFormVisible, template: { name: 'template-' + formName, if: renderForm() }"></div>
            <div class="actionbar">
                <a href="#" data-bind="click: hideForm, storeElement: fadeVisible isFormVisible" class="btn btn-danger">Cancel</a>
                <a href="#"
                data-bind="text: btnTriggerText,
                           attr: { 'data-id': id, 'class': btnTriggerCSS },
                           click: isFormVisible() ? submitForm : showForm" class="btn btn-primary"></a>
            </div>
        </div>
    </li>
</script>


{# Form templates #}
<script id="template-EditCommentForm" type="template-form">
    {{ render_form(get_form('EditComment'), {
        '_fieldType': 'input-group',
        '_action': url_for('frontend.edit_comment'),
        'message': {'rows': 4, 'cols':30}
    }) }}
</script>

<script id="template-EditReplyForm" type="template-form">
    {{ render_form(get_form('EditReply'), {
        '_fieldType': 'input-group',
        '_action': url_for('frontend.edit_comment'),
        'message': {'rows': 4, 'cols':30}
    }) }}
</script>

<script id="template-AddReplyForm" type="template-form">
    {{ render_form(get_form('AddReply'), {
        '_fieldType': 'input-group',
        '_action': url_for('frontend.add_reply'),
        'message': {'rows': 4, 'cols':30}
    }) }}
</script>

<script id="template-AddCommentForm" type="template-form">
        {{ render_form(get_form('AddComment'), {
            '_fieldType': 'input-group',
            '_action': url_for('frontend.add_comment'),
            'message': {'rows': 4, 'cols':30}
        }) }}
</script>