{% extends 'layout.html' -%}

{% from 'macros/alert-messages.html' import alert_messages %}
{% from 'macros/login-form.html' import render_login_form with context %}

{% set json_response = result|tojson %}
{% block header %}
    <script> requirejs(['frontend-index']); </script>
{% endblock %}

{% block metaTags %}{% endblock -%}

{%- block bodyID %}page-index{% endblock -%}

{% block body %}
<section class="header">
<div class="container">
    <div class="row">
    <div id="general-alert">
        {{ alert_messages(get_flashed_messages(with_categories=true)) -}}
    </div>
        {#  center the owl on the page if the user is logged in #}
        <div id="main-logo-container" class="{{ 'col-xs-12' if isLoggedIn else 'col-sm-6 hidden-xs' }}">
            <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="How-To-Tutorials logo"/>
        </div>
        <div id="login-form" class="col-sm-6" data-bind="component: 'login-form'"></div>
    </div>
</div>

<div class="bottom-panel">
    <div class="learn-more">
        <a href="#community">Learn More <br/><span class="glyphicon glyphicon-chevron-down"></span></a>
    </div>
</div>
</section>
<section id="community" class="join-our-community container vh">
<div class="content-wrapper">
    <div class="row title-container">
        <div class="col-xs-12">
            <h1 class="title">Join Our Community</h1>
        </div>
    </div>
    <div class="row tiles">
        <div class="col-md-4">
            <div class="tile">
                <div class="outer-circle">
                    <div class="circle">
                        <span class="glyphicon-custom glyphicon-code"></span>
                    </div>
                </div>
                <div class="info">BECOME A BETTER
                    <br/>PROGRAMMER
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
                <div class="outer-circle">
                    <div class="circle">
                        <span class="glyphicon-custom glyphicon-knowledge"></span>
                    </div>
                </div>
                <div class="info">SHARE YOUR
                    <br/>KNOWLEDGE
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
                <div class="outer-circle">
                    <div class="circle">
                        <span class="glyphicon-custom glyphicon-network"></span>
                    </div>
                </div>
                <div class="info">MEET OTHER
                    <br/>PROGRAMMERS
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}

{% block bodyPostfix %}
{% endblock %}
{% block lteIE9 %}
<script>
    // fallback for browsers that don't support viewport units
    $(window).resize(function () {
        $('.header').css('height', $(window).height() + 'px');
        $('.join-our-community').css('min-height', $(window).height() + 'px');
    });
    $(window).trigger('resize');

    // placeholder shim doesn't work on hidden elements
    // so recall it after user clicks on a new tab
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        if (jQuery.placeholder) {
            jQuery.placeholder.shim();
        }
    });
</script>
{% endblock %}