{% extends 'layout.html' %}
{% import 'macros.html' as m %}

{% block header %}
{% endblock %}
{% block body %}
    <div class="tab-content">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#simple-form" data-toggle="tab">Login</a></li>
            <li><a href="#openid-form" data-toggle="tab">OpenID</a></li>
        </ul>
        <div class="tab-pane active" id="simple-form">
            {{ m.render_form(form, action_url=url_for('frontend.login')) }}
        </div>
        <div class="tab-pane" id="openid-form">
            {{ m.render_form(openid_form, action_url=url_for('frontend.login')) }}
        </div>
    </div>
    <div id="signInButton">
          <span class="g-signin"
                data-scope="openid email"
                data-clientid="434873850694-754ltcoj26ircq9s6ruj77to181pb090.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
          </span>
    </div>

{% endblock %}