{% extends 'layout.html' %}

{#{% from 'sidebar.html' import sidebar_content, sidebar_modal, sidebar_js with context %}#}

{% block bodyID %}page-articles{% endblock %}

{% block body %}
    <div id="general-alert">
    </div>
    <div class="articles container">
        <div class="tiles row">
            <div class="articles-main col-xs-12 col-md-8">
                {% if articles.latest %}
                    <h1 class="page-header text-center">{{ active_page }} Tutorials</h1>
                   {% for article in articles.latest %}
                   <article class="tile">
                       <h3 class="title">
                       <a href="{{ url_for('frontend.article', category=active_page, articleId=article.id, title=article.title|slug) }}">{{ article.title }}</a></h3>
                       <footer class="tile-footer row">
                           <div class="col-xs-12">
                               <div class="author">By <a href="#">{{ article.author.username }}</a></div>
                               <div class="published-date">Published {{ article.date_created|datetime }}</div>
                           </div>
                       </footer>
                   </article>
                   {% endfor %}
                {% else %}
                    <h1 class="page-header text-center" style="border: none; white-space: nowrap">No {{ active_page }} articles listed.
                        <br/><small>Why not contribute?</small></h1>
                {% endif %}
            </div>
{#            {{ sidebar_content() }}#}
        </div>
    </div>
{#    {{ sidebar_modal() }}#}
{% endblock %}

{% block bodyPostfix %}
{#{{ sidebar_js() }}#}
{% endblock %}