{% extends 'layout.html' %}
{% block bodyID %}page-tutorial{% endblock %}
{% block body %}
{% import 'macros.html' as m with context %}
{% if isLoggedIn %}
    {% set user_avatar = url_for('static', filename='uploads/avatar/' + current_user.avatar) %}
    {% set user_fullname = current_user.full_name %}
{% else %}
    {% set user_avatar = '' %}
    {% set user_fullname = '' %}
{% endif %}
<main class="container">
<div class="row">
    <div class="col-xs-12 col-md-8">
        <section class="tutorial">
            <h1 class="page-header">{{ article.title }}</h1>
            <div class="tutorial-body">
                {{ article.body }}
            </div>
            <footer class="tutorial-footer">
                By <a href="#" class="author">{{ article.author.username }}</a><br/>
                <span class="date-created">Published {{ article.date_created|fromnow }}</span><br/>
            </footer>
        </section>
        <div class="comment-container">
            <div class="comment-header row row-table-xs">
                <div class="col-xs-8">
                    <h1>Comments</h1>
                </div>
                <div class="col-xs-4">
                    <a  href="#" id="btn-add-comment" class="btn btn-primary pull-right">Add Comment</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                <div class="alert-box"></div>
                <div style="display: none" id="add-comment-form" class="media">
                        <a class="media-left" href="#">
                             <div class="avatar-container"><img class="avatar-thumbnail" src="{{ user_avatar }}"></div>
                        </a>
                        <div class="media-body">
                            {{ forms['addCommentForm'].hidden_tag() }}
                            {% for field in forms['addCommentForm'] if field.widget.input_type != 'hidden' %}
                                {% if field.type == 'TextAreaField' %}
                                    {{ m.render_input_group(field, cols=30, rows=4, placeholder=field.label.text) }}
                                {% else %}
                                    {{ m.render_input_group(field, placeholder=field.label.text) }}
                                {% endif %}
                            {% endfor %}
                            <div class="actionbar text-right">
                                <a href="#" class="btn btn-danger">Cancel</a>
                                <a href="#" class="btn btn-primary">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                {# Display comments  #}
                <ul class="media-list">
                    {% for comment, depth, children in comments recursive -%}
                        {% if depth == 0 %} {# start a new head comment #}
                            <li class="media" id="comment-{{ comment.id }}">
                        {% else %}
                            {# lets ignore any depths higher than 1... #}
                            <div class="reply media depth-1" id="comment-{{ comment.id }}">
                        {% endif %}
                        <a class="media-left" href="#">
                            <div class="avatar-container"><img class="avatar-thumbnail" src="{{ url_for('static', filename='uploads/avatar/' + comment.user.avatar) }}"></div>
                            <div class="username">{{ comment.user.username }}</div>
                        </a>
                        <div class="media-body">
                            <div class="comment-info">
                            {% if depth == 0 %}
                                <h4 class="media-heading">{{ comment.subject }}</h4>
                            {% else %}
                                <a class="reply-to" href="#comment-{{ comment.parent_id }}">@{{ comment.user.username }}</a>
                            {% endif %}
                            {% set lastmodified = comment.last_modified|default(comment.date_created, true) %}
                            <span data-lastmodified="{{ lastmodified }}" class="comment-date">{{lastmodified|fromnow}}</span></div>
                            <div class="content">
                            {{- comment.message -}}
                            </div>
                            <div class="actionbar text-right">
                                <a href="#" class="btn btn-reply btn-primary">Reply</a>
                                <a href="#" style="display: none" class="btn btn-cancel btn-danger">Cancel</a>
                                <a href="#" style="display: none" class="btn btn-submit btn-primary">Submit</a>
                            </div>
                        </div>
                        {% if depth == 0 %} {# if is a parent container #}
                            {% if children %}
                                {{ loop(children) }} {# recusively add its children #}
                            {% endif %}
                             </li> {# close the parent container #}
                        {% else %}
                             </div> {# close a child container #}
                        {% endif %}
                    {%- endfor %}
                </ul>
                </div>
            </div>
        </div>
    </div>
        <section class="right-panel col-md-4">
            <div {{ m.hide_if('loggedOut') }} class="profile">
                <div class="avatar-container lg"><img class="avatar-thumbnail-lg" src="{{ user_avatar }}" alt=""/></div>
                <div class="more-info">
                    <div class="username">{{ user_fullname }}</div>
                    <div class="settings"><a href="#">Settings</a></div>
                </div>
            </div>
            <div {{ m.hide_if('loggedIn') }} id="login-form" class="animated fadeIn nav-tabs-container">
                <!-- TAB NAVIGATION -->
                <ul id="form-tabs" class="nav nav-tabs nav-justified no-collapse" role="tablist">
                    <li class="active"><a href="#tab-register" role="tab" data-toggle="tab">Register</a></li>
                    <li><a href="#tab-login" role="tab" data-toggle="tab">Login</a></li>
                </ul>
                <!-- TAB CONTENT -->
                <div class="tab-content">
                    <div class="active tab-pane fade in" id="tab-register">
                        <form action="{{ url_for('frontend.register') }}" method="post" role="form">
                            {{ forms['register'].csrf_token }}
                            {% for field in forms['register'] if field.widget.input_type != 'hidden' -%}
                                    {{ m.render_field(field, label_class='sr-only', placeholder=field.label.text) }}
                            {% endfor %}
                            <button type="submit" class="btn btn-block btn-lg btn-danger">Get Started</button>
                        </form>
                        <div class="social-media">
                            <p class="info">Or register with:</p>
                            <p class="text-justify-full">
                                {{ m.get_social_buttons([
                                {'google-plus':'#'},
                                {'github':'#'},
                                {'facebook':'#'}]) }}
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-login">
                        <form action="{{ url_for('frontend.login') }}" method="post" role="form">
                            {{ forms['login'].csrf_token }}
                            {% for field in forms['login'] if field.widget.input_type != 'hidden' -%}
                                    {{ m.render_field(field, label_class='sr-only', placeholder=field.label.text) }}
                            {% endfor %}
                            <button type="submit" class="btn btn-block btn-lg btn-danger">Login</button>
                        </form>
                        <div class="social-media">
                            <p class="info">Or login with:</p>
                            <p class="text-justify-full">
                                {{ m.get_social_buttons([
                                {'google-plus':'#'},
                                {'github':'#'},
                                {'facebook':'#'}]) }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}

{% block bodyPostfix %}
<script id="comment-template" type="text/html">
<li class="media" id="">
    <a class="media-left" href="#">
        <div class="avatar-container"><img class="avatar-thumbnail" src=""></div>
        <div class="username"></div>
    </a>
    <div class="media-body">
        <div class="comment-info">
            <h4 class="media-heading"></h4>
            <a class="reply-to" href="#"></a>
            <span data-lastmodified="" class="comment-date"></span>
        </div>
        <div class="content"></div>
        <div class="actionbar text-right">
            <a href="#" class="btn btn-reply btn-primary">Reply</a>
            <a href="#" style="display: none" class="btn btn-cancel btn-danger">Cancel</a>
            <a href="#" style="display: none" class="btn btn-submit btn-primary">Submit</a>
        </div>
    </div>
</li>
</script>

<script id="reply-form-template" type="text/html">
    <form class="reply-form" action="">
    {{ forms['replyForm'].hidden_tag() }}
    {% for field in forms['replyForm'] if field.widget.input_type != 'hidden' %}
        {% if field.type == 'TextAreaField' %}
            {{ m.render_input_group(field, cols=30, rows=4, placeholder=field.label.text) }}
        {% else %}
            {{ m.render_input_group(field, placeholder=field.label.text) }}
        {% endif %}
    {% endfor %}
    </form>
</script>

<script>
$(function($) {

    var $commentContainer,
        $addCommentForm;

    function getLastModified() {
        var $e = $('.media-list').find('[data-lastmodified]'),
            timestamps;

        if ($e.length == 0) return null;

        timestamps = $e.map(function(i, e) {return $(e).data('lastmodified');}).get();

        var i, length, max;
        length = timestamps.length;
        max = timestamps[0];
        // since the `lastmodified` timestamps are formatted "YYYY-MM-DD hh-mm-ss"
        // there's no need to convert it to a datetime object
        for (i = 1; i < length; i++)
            if (timestamps[i] > max)
                max = timestamps[i];

        return max;
    }

    function submitComment($form, callback) {
        $.ajax({
            url: '{{ url_for('frontend.add_comment') }}',
            beforeSend: app.getCSRFHeader(),
            type: 'POST',
            dataType: 'json',
            data: $form.find('input, textarea').serialize() + '&' + $.param({lastmodified:getLastModified()}),
            success: callback.success,
            error: callback.error
        });
    }


    function updateComments(comments) {
        var $parentTemplate, // a parent is a reply to the article
            $childTemplate; //  a child is a reply to other comments

        // initialize templates
        if ( ! updateComments.cache ) {
            var $temp = $($('#comment-template').html());

            // create parent template
            $parentTemplate = $temp.clone();
            $parentTemplate.find('.reply-to').remove(); // .reply-to is only for child comments

            // create child template
            $temp.find('.media-heading').remove(); // .media-heading is only for parent comments
            $childTemplate = $('<div></div>', {'class': 'reply media depth-1'}).append($temp.html());
            $childTemplate.remove('.media-heading');

            // save templates to cache
            updateComments.cache = {parent: $parentTemplate, child: $childTemplate};
        } else {
            $parentTemplate = updateComments.cache['parent'];
            $childTemplate = updateComments.cache['child'];
        }

        comments.forEach(function(item, i) {
            var $e,
                $recipient,
                isParent = item.parent_id == null;

            // check if this comment already exists on page
            $e = $('comment-'+item.id);
            if ($e.length == 0) {
                // create a new comment
                $e = isParent ? $parentTemplate.clone() : $childTemplate.clone();
                $e.attr('id', 'comment-'+item.id);
            }

            $e.data('item', item);
            $e.find('.content').html(item.message);
            $e.find('.comment-date').attr('data-lastmodified', item.last_modified ? item.last_modified : item.date_created);
            $e.find('.avatar-thumbnail').attr('src', item.user.avatar);
            $e.find('.username').html(item.user.username);

            if (isParent) {
                $e.find('.media-heading').html(item.subject);
                // start a new comment list
                $('.media-list').append($e);
            } else {
                $recipient = $('#comment-' + item.parent_id);
                var $replyTo = $e.find('.reply-to');
                $replyTo.attr('href', '#comment-' + item.parent_id);
                $replyTo.html('@' +$recipient.find('.username').html());
                // append it below its parent_id

                if ($recipient.is('li')) {
                    $recipient.append($e);
                } else {
                    $recipient.parent().append($e);
                }
            }
        });
    }

    $addCommentForm = $('#add-comment-form');
    // display `#add-comment-form` and hide `#btn-add-comment`
    $('#btn-add-comment').click(function(e) {
        e.preventDefault();
        $addCommentForm.slideDown();
        $(this).fadeOut();
    });
    // hide `#add-comment-form` and show `#btn-add-comment`
    $addCommentForm.on('click', '.btn-danger', function(e) {
        e.preventDefault();
        $addCommentForm.slideUp();
        $('#btn-add-comment').fadeIn(); //
    });
    // submit `#add-comment-form`
    $addCommentForm.find('.btn-primary').on('click',function(e) {
        e.preventDefault();
        submitComment($addCommentForm, {
            success: function(data) {
                // update the page with the new comments
                updateComments(data.comments);
                // reset form values
                $addCommentForm.find('.form-group').find('input, textarea').val('');
                // hide this form and show `#btn-add-comment`
                $addCommentForm.slideUp();
                $('#btn-add-comment').fadeIn();

            },
            error: function(data) {
                // display errors
                if (data.responseJSON && data.responseJSON['flashed_messages']) {
                    app.displayMessages($addCommentForm, data.responseJSON['flashed_messages']);
                } else {
                    app.displayGenericError($('.alert-box'), data);
                }
            }
        });
    });

    // media list contains all the comments on the page
    $commentContainer = $('.media-list');

    // Instantiate and show the reply form
    $commentContainer.on('click', '.btn-reply', function(e) {
        e.preventDefault();
        var $btnReply = $(this),
            $form = $btnReply.closest('.media-body').find('form');
        // initialize form
        if ($form.length == 0) {
            // create a form using the provided template
            $form = $($('#reply-form-template').html()).clone().hide();
            // find out the parent id
            var parentId = $btnReply.closest('.media').id().replace('comment-', '');
            $form.find('#parent_id').val(parentId);
            // insert the form after `.content`
            $btnReply.closest('.media-body').find('.content').after($form);
        }
        $form.slideDown(function() {
            $btnReply.next().fadeIn().next().fadeIn();
            $btnReply.fadeOut(0);
        });
    });

    // Cancel reply form
    $commentContainer.on('click', '.btn-cancel', function(e) {
        e.preventDefault();
        var $btnCancel = $(this),
            $btnReply = $btnCancel.prev(),
            $form = $btnCancel.parent().prev();
        // hide the cancel and submit button
        $btnCancel.fadeOut(0).next().fadeOut(0);
        // show the reply btn then hide the form
        $btnReply.fadeIn();
        $form.slideUp();
    });

    // Submit reply form
    $commentContainer.on('click', '.btn-submit', function(e) {
        var $btnSubmit = $(this),
            $form = $btnSubmit.closest('.media-body').find('form');
        submitComment($form, {
            success: function(data) {
                // reset user input
                $form.find('input, textarea').val('');
                // trigger the cancel button to hide this form
                $btnSubmit.prev().trigger('click');
                updateComments(data.comments);
            },
            error: function(data) {
                app.clearAlerts($form.parent(), function() {
                    if (data.responseJSON && data.responseJSON['flashed_messages']) {
                        app.displayMessages($form, data.responseJSON['flashed_messages']);
                    } else {
                        app.displayGenericError($('.alert-box'), data);
                    }
                });
            }
        });
        e.preventDefault();
    });

    // Scroll animation
    $('body').on('click', 'a[href^="#comment-"]', function (e) {
        e.preventDefault();
        var $target = $(this.getAttribute('href'));
          if ( ! $target.hasClass('reply') ) {
            $target = $target.children().filter('.media-left, .media-body');
          }

        var blink = function($target) {
              for(var i=0; i < 2; i++) {
                $target.fadeTo('slow', 0.5).fadeTo('slow', 1.0);
              }
        };
        if ($target.length) {
            if (app.helpers.isElementInViewport($target[0])) {
                blink($target);
            } else {
                $('body').stop().animate({scrollTop: $target.offset().top - 200}, 1000, 'swing', function() {
                    blink($target);
                });

            }
        }
    });
}, jQuery)
</script>

<script>
// User login
$(function() {

function onSuccessLogin(data) {

    // hide login form
    var $profile = $('.profile');
    var user = data.user;
    console.log(data);
    $profile.find('.avatar-thumbnail-lg').attr('src', user.avatar);
    $profile.find('.username').html(user.username);
    $loginForm.fadeOut(function() {
      $profile.fadeIn();
    });
    app.navbar.loginState(400);
}

function onFailLogin(data) {

}

function onSuccessLogout(data) {
    var $profile = $('.profile');
    $profile.fadeOut(function() {
      $loginForm.fadeIn();
      $profile.find('.avatar-thumbnail-lg').attr('src', '');
      $profile.find('.username').empty();
    });
    app.navbar.logoutState(400);
}

function onFailLogout(data) {

}

// Login/Register listeners
var $loginForm = $('#login-form');
$loginForm.on('click', 'a[class|="azm"], button', function(e) {
    e.preventDefault();
    var provider = $(this).classList()[0].replace('azm-', '');
    switch (provider) {
        // oauth providers login/register
        case 'google-plus': app.google.requestOfflineAccess(onSuccessLogin, onFailLogin); break;
        case 'github': app.github.login(onSuccessLogin, onFailLogin); break;
        case 'facebook': app.facebook.login(onSuccessLogin, onFailLogin); break;
        default:
            // default login/register
            $(this).blur().parent().ajaxSubmit({success: onSuccessLogin,error: onFailLogin});
    }
});

$('.nav-logout').click(function(e) {
    e.preventDefault();
    app.logout(onSuccessLogout, onFailLogout);
});

}, jQuery);
</script>

<script>
    $(function () {
        var $loginForm = $('#login-form'),
            $footer = $('.footer-sticky'),
            legacyIE = bowser.msie && bowser.version <= 9;

        if ( ! $loginForm.length || ! $footer.length) return;

        $(document).scroll(function () {
            if ($loginForm.isAbove($footer[0])) {
                if ($loginForm.hasClass('fadeIn')) {
                    // Make form disappear
                    $loginForm.toggleClass('fadeIn fadeOut');
                    if (legacyIE) {
                        $loginForm.animate({opacity: 0}, 400, 'swing', function () {$loginForm.invisible();});
                    }
                }
            } else if ($loginForm.hasClass('fadeOut')) {
                // Make login form visible
                $loginForm.toggleClass('fadeIn fadeOut');
                if (legacyIE) {
                    $loginForm.visible().animate({opacity: 1.0}, 400);
                }
            }
        });
    });
</script>

{% endblock %}