
{% macro active_class(page, active_page) -%}
     {% if page ==  active_page -%}
        class="active"
     {%- endif %}
{%- endmacro %}

{% macro get_social_buttons(providers) -%}
    {% for provider in providers %}
        {% for name, url in provider.items() %}
        <a class="btn-square hvr-grow azm-{{ name }}" href="{{ url }}"><i class="fa fa-{{ name }}"> </i></a>
        {% endfor %}
    {%- endfor -%}
{%- endmacro %}

{% macro alert_messages(messages) -%}
    {% for category, message in messages -%}
    <div class="alert-messages">
        <div class="alert alert-{{ category }}">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {% if messeage is mapping %}
            <ul>
                {% for key, value in message.items() %}
                <li><strong>{{ key }}</strong>: {{ value|join(' ') }}</li>
                {% endfor %}
            </ul>
            {% else %}
                {{ message }}
            {% endif %}
        </div>
    </div>
    {%- endfor %}
{%- endmacro %}

{% macro render_input_group(field, placeholder='', size='', csrf_allowed=true) %}
    {% if size != '' %}
        {% set size = 'input-group-' + size  %}
    {% endif %}
    <div class="form-group">
    {% if field.widget.input_type == 'hidden' %}
        {{ field() }}
    {% else %}
        <label class="control-label sr-only">{{ field.label.text }}</label>
        <div class="input-group {{ size }}">
          <span class="input-group-addon">{{ placeholder }}</span>
          {{ field(class_='form-control', **kwargs) }}
        </div>
    {% endif %}
    </div>
{% endmacro %}

{% macro render_media_list() %}
<li class="media">
    <a class="media-left" href="#">
        <img class="avatar" src="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Awesome tutorial</h4>
        <a class="reply-to" href="#">@LuizGsa21</a>
        <div class="content"></div>
        <div class="actionbar text-right">
            <a href="#" class="btn btn-primary">Reply</a>
        </div>
    </div>
</li>
{% endmacro %}

{% macro render_media_reply() %}
<div class="reply media depth-1">
    <a class="media-left" href="#">
         <img class="avatar" src="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Thanks</h4>
        <a class="reply-to" href="#">@LuizGsa21</a>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
            sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
            in faucibus.</p>
        <div class="actionbar text-right">
            <a href="#" class="btn btn-primary">Reply</a>
        </div>
    </div>
</div>
{% endmacro %}

{# Snippet taken from:
    http://bear-z.com/python/render-bootstrap-3-forms-with-wtforms-and-jinja/ #}

{# Renders field for bootstrap 3 standards.

    Params:
        field - WTForm field
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
#}
{% macro render_field(field, label_visible=true, label_class='') -%}
    <div class="form-group{% if field.errors %} has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if field.type != 'HiddenField' and field.type !='CSRFTokenField' and label_visible %}
            {{ field.label(class_='control-label ' + label_class) }}
            {{ field(class_='form-control', **kwargs) }}
        {% endif %}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{# Renders checkbox fields since they are represented differently in bootstrap
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_checkbox_field(form.remember_me) }}
 #}
{% macro render_checkbox_field(field) -%}
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ field.label }}
        </label>
    </div>
{%- endmacro %}

{# Renders radio field
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_radio_field(form.answers) }}
 #}
{% macro render_radio_field(field) -%}
    {% for value, label, _ in field.iter_choices() %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
            </label>
        </div>
    {% endfor %}
{%- endmacro %}